<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">
</head>
<body>
    <header class="site-header-single">
        <div class="container-header-single">
            <div class="logo-single">
                <img src="{{.Site.BaseURL}}assets/img/logo.png" alt="Logo">
            </div>
            <nav class="nav-single">
                <ul>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#expertise">Expertise</a></li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="site-content-single">
        <div class="container-single">
            {{ .Content }}
        </div>
    </main>
</body>
</html>
