<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body id="page-top">
{{- partial "header.html" . -}}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        {{ with site.Data.homepage.main }}
                        <h1 class="mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ .header.description }}</h2>
                        <a class="btn btn-primary" href="tel:+0399237800">{{ .header.button.text }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        {{ with site.Data.homepage.about }}
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">{{ .title }}</h2>
                        <p class="text-white-50">{{ .desc }}</p>
                        {{ if .button.enable }}
                        <a class="btn btn-primary about-btn" href="{{ .button.url }}">{{ .button.text }}</a>
                        {{ end }}
                    </div>
                </div>
                <img class="img-fluid" src="{{ .image }}" alt="..." />
            </div>
        </section>
        {{ end }}
        <!-- Expertise-->
        {{ with site.Data.homepage.expertise }}
        <section class="expertise-section bg-light" id="expertise">
            <div class="container px-4 px-lg-5 mt-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-5 justify-content-center">
                    <div class="col-lg-6">
                        <img class="img-fluid h-100 w-100 object-fit-cover" src="{{ .card1.img }}" alt="..." />
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-lg-left p-4">
                                    <h4 class="text-white">{{ .card1.title }}</h4>
                                    <p class="text-white-50">{{ .card1.text }}</p>
                                    <a class="text-white" href="/{{ .card1.url }}">Read More</a>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 justify-content-center">
                    <div class="col-lg-6 order-lg-2">
                        <img class="img-fluid h-100 w-100 object-fit-cover" src="{{ .card2.img }}" alt="..." />
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="bg-black h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-lg-right p-4">
                                    <h4 class="text-white">{{ .card2.title }}</h4>
                                    <p class="text-white-50">{{ .card2.text }}</p>
                                    <a class="text-white" href="/{{ .card2.url }}">Read More</a>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row gx-0 mb-5 justify-content-center">
                    <div class="col-lg-6">
                        <img class="img-fluid h-100 w-100 object-fit-cover" src="{{ .card3.img }}" alt="..." />
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-lg-left p-4">
                                    <h4 class="text-white">{{ .card3.title }}</h4>
                                    <p class="text-white-50">{{ .card3.text }}</p>
                                    <a class="text-white" href="/{{ .card3.url }}">Read More</a>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Third Row-->
                <div class="row gx-0 mb-5 justify-content-center">
                    <div class="col-lg-6 order-lg-2">
                        <img class="img-fluid h-100 w-100 object-fit-cover" src="{{ .card4.img }}" alt="..." />
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="bg-black h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-lg-right p-4">
                                    <h4 class="text-white">{{ .card4.title }}</h4>
                                    <p class="text-white-50">{{ .card4.text }}</p>
                                    <a class="text-white" href="/{{ .card4.url }}">Read More</a>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Fourth Row-->
                <div class="row gx-0 mb-5 justify-content-center">
                    <div class="col-lg-6">
                        <img class="img-fluid h-100 w-100 object-fit-cover" src="{{ .card5.img }}" alt="..." />
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-black h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-lg-left p-4">
                                    <h4 class="text-white">{{ .card5.title }}</h4>
                                    <p class="text-white-50">{{ .card5.text }}</p>
                                    <a class="text-white" href="/{{ .card5.url }}">Read More</a>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                        <form class="form-signup" id="contactForm" data-sb-form-api-token="{{ site.Params.sbtoken }}">
                            <div class="row input-group-newsletter">
                                <div class="col"><input class="form-control" id="emailAddress" type="email" placeholder="Enter email address..." aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                                <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Notify Me!</button></div>
                            </div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
                            <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3 mt-2 text-white">
                                    <div class="fw-bolder">Form submission successful!</div>
                                </div>
                            </div>
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form id="contactForm" class="card border-0 shadow-lg">
                            <div class="card-body p-5">
                                <h2 class="text-center mb-4">Contact Us</h2>
                                <div class="mb-3">
                                    <input class="form-control" type="text" placeholder="Your Name" required />
                                </div>
                                <div class="mb-3">
                                    <input class="form-control" type="email" placeholder="Your Email" required />
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" rows="4" placeholder="Your Message" required></textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 mt-4">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="{{ site.Params.location }}">{{ site.Params.address }}</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">{{ site.Params.email }}</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0" id="phone">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="tel:+0399237800">{{ site.Params.phone }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="{{ site.Params.instagram }}"><i class="fab fa-instagram"></i></a>
                    <a class="mx-2" href="{{ site.Params.facebook }}"><i class="fab fa-facebook-f"></i></a>
                    <!-- <a class="mx-2" href="{{ site.Params.github }}"><i class="fab fa-github"></i></a> -->
                </div>
            </div>
        </section>
{{- partial "footer.html" . -}}
</body>
</html>